@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gotham Pro Medium";
  src: url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Gotham Pro Bold";
  src: url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
.main-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.wrapper-inner {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-container {
  width: 100%;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

html,
body {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #7a7a7a;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #52bfff;
}

.navbar-toggler {
  z-index: 100;
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.ibg-container img {
  z-index: -5;
}

.navbar,
.navbar a {
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  color: #7a7a7a;
}
.navbar [aria-expanded=false],
.navbar a [aria-expanded=false] {
  --bs-navbar-toggler-icon-bg: url("../img/nav/toggler-icon.png");
}
.navbar [aria-expanded=true],
.navbar a [aria-expanded=true] {
  --bs-navbar-toggler-icon-bg: url("../img/nav/toggler-icon-active.png");
}
.navbar .language,
.navbar a .language {
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  margin-bottom: 0;
}
.navbar .language li,
.navbar a .language li {
  display: inline-block;
}
.navbar .language-active,
.navbar a .language-active {
  color: #52bfff;
}
.navbar .reqest__btn,
.navbar a .reqest__btn {
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  color: #52bfff;
}

.navbar-contacts {
  display: none;
}

.language-nav-top {
  display: none;
}

.navbar-wrapper {
  padding-right: 0;
  padding-left: 0;
}

.navbar-brand {
  background-image: url(../img/nav/logo.png);
  background-repeat: no-repeat;
  width: 110px;
  height: 54px;
}

.navbar-insta {
  background-image: url(../img/nav/inst.png);
  width: 16px;
  height: 17px;
}

.navbar-facebook {
  background-image: url(../img/nav/fb.png);
  width: 10px;
  height: 17px;
}

.navbar-youtube {
  background-image: url(../img/nav/youtube.png);
  width: 19px;
  height: 14px;
  box-shadow: 0px 0px 25px rgba(146, 214, 255, 0.5);
}

.reqest__btn {
  width: 215px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(82, 191, 255, 0.15);
}
.reqest__btn::before {
  content: "";
  position: relative;
  background-image: url(../img/nav/btn_icon.svg);
  width: 38px;
  height: 38px;
  left: -14px;
}

.navbar-left {
  width: 198px;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.navbar-left-item > * {
  display: inline-block;
}

.navbar-right {
  display: flex;
  align-items: center;
  width: 291px;
  justify-content: space-between;
}

#navbarSupportedContent {
  top: 0;
  left: 0;
  width: 100%;
  padding-top: var(--bs-navbar-padding-y);
}

.navbar-collapsed {
  display: none;
}

.nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  color: #7a7a7a;
  transition: 0.2s ease;
  position: relative;
}

.nav-link:after {
  content: "";
  background: url(../img/nav/hover_line.svg);
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 100%;
  height: 21px;
  visibility: hidden;
  left: 0;
}

.nav-link::before {
  display: block;
  content: attr(data-foo);
  font-weight: 700;
  overflow: hidden;
  line-height: 0;
  visibility: hidden;
}

.nav-link:hover {
  font-weight: 700;
  color: #52bfff;
}
.nav-link:hover::after {
  visibility: visible;
}

.navbar-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.language {
  padding-left: 0;
}

.navbar-collapse {
  justify-content: space-between;
}

@media (max-width: 1199px) {
  .navbar-collapse {
    padding: 0 25px;
  }
}
@media (max-width: 1131px) {
  #navbarSupportedContent {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #navbarSupportedContent .navbar-left {
    order: 1;
    width: 40%;
    justify-content: space-between;
  }
  #navbarSupportedContent .navbar-right {
    width: 40%;
    justify-content: space-between;
    order: 2;
  }
  #navbarSupportedContent .navbar-nav {
    order: 3;
    margin: 20px auto 0;
    width: 90%;
    justify-content: space-between;
  }
  .main {
    margin-top: -129px;
  }
}
@media (max-width: 991px) {
  .nav-item {
    text-align: center;
  }
  .navbar-left-bottom {
    display: none;
  }
  .navbar > .container-fluid {
    justify-content: end;
  }
  .navbar-collapsed {
    display: flex;
    justify-content: space-around;
    width: 90%;
  }
  .navbar-insta {
    order: 1;
  }
  .navbar-facebook {
    order: 2;
  }
  .navbar-youtube {
    order: 3;
  }
  .navbar-brand {
    order: 4;
    margin-right: 0;
  }
  .reqest__btn {
    margin-left: 0;
    margin-top: 25px;
  }
  #navbarSupportedContent .navbar-right {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .nav-item .nav-link {
    margin: 12px 0;
  }
  .language-nav-top {
    margin-top: 35px;
    margin-bottom: 35px;
    display: block;
    padding-left: 0;
  }
  .language-nav-top > *:not(:first-child) {
    margin-left: 25px;
  }
  .navbar-minimized {
    height: 100%;
  }
  .navbar-contacts {
    margin-top: 30px;
    display: block;
  }
  .navbar-contacts > *:not(:first-child) {
    margin-top: 10px;
  }
  .navbar-contacts-item a {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #313131;
  }
  .nav-link:after {
    display: none;
  }
  .wrapper-inner {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .navbar-wrapper {
    width: 100%;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 10px;
  }
}
@media (max-width: 627px) {
  .navbar-collapsed {
    width: 70%;
    left: -25px;
    position: relative;
  }
}
.main {
  height: 100vh;
  position: relative;
  margin-top: -80px;
}

.ibg-container {
  z-index: 10;
  width: 100%;
  height: 100%;
}

.ibg {
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 100%;
  min-width: 1440px;
}

@media (min-width: 1440px) {
  .ibg {
    min-width: 100%;
    height: auto;
  }
}
main .navbar-contacts-bottom {
  position: relative;
  bottom: 30px;
  display: flex;
  gap: 40px;
}
main .navbar-contacts-bottom {
  padding-left: 0;
}

.contact-item {
  display: flex;
  gap: 10px;
  color: #313131;
  font-weight: 700;
  font-size: 15px;
  line-height: 14px;
}
.contact-item img {
  height: 16px;
  width: auto;
}
.contact-item gray {
  color: #7a7a7a;
}

.main-text {
  max-width: 761px;
  position: absolute;
  top: 202px;
  padding: 20px;
  border-radius: 20px;
  margin-left: -20px;
}
.main-text span {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #7a7a7a;
  max-width: 677px;
  position: relative;
}
.main-text span::before {
  content: "";
  background-image: url(../img/main/arr.png);
  background-repeat: no-repeat;
  width: 84px;
  height: 102px;
  position: absolute;
  display: block;
  left: -52px;
  top: 38px;
}
.main-text .btn {
  margin-top: 50px;
  transition: 0.3s ease all;
}

h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #313131;
}
h1 blue {
  color: #52bfff;
}

@media (max-width: 1199px) {
  .main-text {
    padding-left: 25px;
  }
}
@media (max-width: 1131px) {
  .main-text {
    padding-left: 75px;
  }
}
@media (max-width: 991px) {
  .main-text h1 {
    font-size: 18px;
    line-height: 24px;
  }
  .main-text span {
    font-size: 12px;
    line-height: 18px;
  }
  .main-text {
    margin: 0 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .contact-item {
    display: none;
  }
  .main-text span::before {
    display: none;
  }
}
.btn {
  border: 1.5px solid;
  border-image-source: linear-gradient(180deg, #bee7ff 0%, #52bfff 100%);
  width: 240px;
  height: 48px;
  background: linear-gradient(213.88deg, #b1e2ff -67.78%, #68c7ff 175.48%);
  border-radius: 25px;
  color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}
.btn::before {
  display: block;
  content: "";
  background-image: url(../img/ui/btn-ico.svg);
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  position: relative;
  left: -8px;
  top: 1px;
}

.btn:hover {
  background: linear-gradient(213.88deg, #c6eaff -67.78%, #81d0ff 175.48%);
  box-shadow: 0px 0px 25px rgba(146, 214, 255, 0.5);
  color: #fff;
}
.btn:hover::before {
  display: block;
  content: "";
  background-image: url(../img/ui/btn-hover-ico.svg);
}

.btn:active {
  background: linear-gradient(213.88deg, #86d2ff -67.78%, #47bbff 175.48%);
  color: #fff;
}
.btn:active::before {
  display: block;
  content: "";
  background-image: url(../img/ui/btn-click-ico.svg);
}

:not(.btn-check) + .btn:active {
  color: #fff;
  background: linear-gradient(213.88deg, #86d2ff -67.78%, #47bbff 175.48%);
  border-color: #47bbff;
}

@media (max-width: 414px) {
  .btn {
    width: 90%;
    padding-left: calc(45% - 110px);
    margin: 0 auto;
  }
  .btn::before {
    display: block;
    content: "";
    left: calc(-93% + 192px);
  }
}
.welcome {
  margin-top: 107px;
  position: relative;
}
.welcome .tree-left {
  position: absolute;
  top: -230px;
  z-index: -10;
}

.welcome-ibg {
  min-height: 2956px;
  position: absolute;
  width: 100%;
  z-index: -10;
  overflow: hidden;
}

.welcome-ibg-pic {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 100vw;
  height: auto;
  z-index: -10;
  overflow-y: hidden;
}

.welcome-box {
  margin-top: 105px;
}

.welcome-inner {
  width: 100%;
  height: 180px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 12px;
}

.welcome-inner-box {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px dashed #ecf6fc;
  border-radius: 20px;
}

.welcome-inner-text {
  padding: 60px 10px 0 10px;
  position: relative;
}

.welcome-img {
  margin: -128px auto 0;
  display: block;
  position: relative;
}

@media (max-width: 1199px) {
  .tree-left {
    display: none;
  }
}
.universities {
  margin-top: 150px;
}

.swiper {
  width: 100%;
  margin-top: 40px;
}

.slide-universities-wrapper {
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.slide-universities-inner {
  margin: 12px auto 0;
  border: 1px solid #ecf6fc;
  border-radius: 20px;
  width: 90%;
}

.slider-text-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: 10px auto 20px;
}

.slider-country {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #7a7a7a;
}

.slider-numbers {
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  color: #d9d9d9;
}

.universities .swiper {
  border-radius: 20px;
}

.swiper-box {
  position: relative;
}

.swiper-next {
  position: absolute;
  right: 10px;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  z-index: 10;
}
.swiper-next::after {
  content: "";
  background: url(../img/ui/arr-right.png);
  transition: 0.3s ease all;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 52px;
  height: 52px;
  left: 15px;
  top: -25px;
}
.swiper-next:hover::after {
  background-image: url(../img/ui/arr-right-hover.png);
  filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.5));
}
.swiper-next:active::after {
  background-image: url(../img/ui/arr-right-active.png);
  filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.5));
}

.swiper-prev {
  position: absolute;
  left: 10px;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  z-index: 10;
}
.swiper-prev::after {
  content: "";
  background: url(../img/ui/arr-left.png);
  transition: 0.3s ease all;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 52px;
  height: 52px;
  left: -40px;
  top: -25px;
}
.swiper-prev:hover::after {
  background-image: url(../img/ui/arr-left-hover.png);
  filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.5));
}
.swiper-prev:active::after {
  background-image: url(../img/ui/arr-left-active.png);
  filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.5));
}

@media (max-width: 575px) {
  .swiper-next {
    right: 30px;
  }
  .swiper-prev {
    left: 30px;
  }
}
@media (max-width: 1199px) {
  .white-box-text {
    margin: 0 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.student-reviews {
  margin-top: 150px;
}
.student-reviews .row {
  margin-bottom: 40px;
}

.mySwiper {
  overflow-x: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.slide-reviews-inner {
  background: linear-gradient(213.88deg, #b1e2ff -67.78%, #68c7ff 175.48%);
  overflow: hidden;
  width: 212px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.slide-reviews-inner img {
  margin-top: 22px;
  z-index: -5;
}

.slide-reviews-box {
  background: #ffffff;
  border-radius: 20px;
  margin-top: -110px;
  padding: 15px 15px 15px;
}
.slide-reviews-box .text-center {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #7a7a7a;
}
.slide-reviews-box span {
  text-align: left;
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  color: #7a7a7a;
}

.reviews-box-inner {
  border-radius: 20px;
  padding: 106px 15px 15px 15px;
  height: 100%;
  border: 1px dashed #ecf6fc;
}

.swiper-foto {
  border-radius: 20px;
}

.students-foto {
  margin-top: 157px;
}
.students-foto h2 {
  margin-bottom: 40px;
}

.slide-students-foto {
  border-radius: 20px;
}

.questions {
  margin-top: 120px;
}

.accordion-box {
  margin-top: 40px;
}
.accordion-box > *:not(:first-child) {
  margin-top: 50px;
}

@media (max-height: 570px) {
  main .navbar-contacts-bottom {
    display: none;
  }
}
.questions-item {
  border-radius: 20px;
  padding: 12px;
  background-color: #fff;
}

.question-item-inner {
  background: #ffffff;
  border: 1px dashed #ecf6fc;
  border-radius: 20px;
  padding: 15px 27px;
}
.question-item-inner .question-button {
  background-color: #fff;
  box-shadow: none;
  position: relative;
}
.question-item-inner .question-button::after {
  background-image: url(../img/ui/plus.svg);
  background-size: auto;
  background-repeat: no-repeat;
  width: 52px;
  height: 52px;
  position: absolute;
  right: -60px;
  top: 0;
  transition: 0.5s;
}
.question-item-inner .question-button:not(.collapsed) {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #7a7a7a;
}
.question-item-inner .question-button:not(.collapsed)::after {
  background-image: url(../img/ui/minuse.svg);
}

.question-accordion-header button {
  line-height: 26px;
}

.question-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #7a7a7a;
}

.question-collapse {
  transition: 0.5s;
}

.questions-item {
  margin-right: calc(-0.5 * var(--bs-gutter-x) + 30px);
}/*# sourceMappingURL=style.css.map */